:root {
  --md-primary-fg-color: #2F4F4F;
  --md-primary-fg-color--light: #2F4F4F;
  --md-primary-fg-color--dark: #2F4F4F;
}

.md-typeset__table table:not([class]) tbody tr:nth-child(1) td:first-child {
  background-color: #008000;
  /* Dark Green for the first row */
}

.md-typeset__table table:not([class]) tbody tr:nth-child(2) td:first-child {
  background-color: #90ee90;
  /* Light Green for the second row */
}

.md-typeset__table table:not([class]) tbody tr:nth-child(3) td:first-child {
  background-color: #ffff00;
  /* Yellow for the third row */
}

.md-typeset__table table:not([class]) tbody tr:nth-child(4) td:first-child {
  background-color: #ff0000;
  /* Red for the fourth row */
}


.md-typeset__table table:not([class]) tbody tr td:first-child {
  font-size: larger;
  color: black;
}

#plain-table table {
  border-collapse: collapse;
  width: 100%;
}

#plain-table th,
#plain-table td {
  border: 1px solid black !important;
  padding: 8px !important;
  background-color: transparent !important;
  color: initial !important;
  font-size: initial !important;
}